## Scrape Athlete List

Pulls list of athletes and their schools.

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from time import sleep

Enter name of event and URL to scrape

In [17]:

Event= "&Event=1"
Event_file = 'men100'

In [12]:
district_ranges = [(115902, 115936), 
                   (97851, 97885), 
                   (89004, 89038), 
                   (79755, 79789),
                   (70553, 70586),
                   (59529, 59562),
                   (49416, 49448),
                   (43150, 43182),
                   (32345, 32377), 
                   (28032, 28064), 
                   (17269, 17301),
                   (12573, 12604),
                   (9316, 9347)]

In [78]:
def get_year(Div,Div_id,Event):
    id_key_string =     "../Athlete.aspx?AID="
    school_key_string = "../School.aspx?SchoolID="

    athlete_list_url="https://www.athletic.net/TrackAndField/Division/Event.aspx?DivID="+Div_id+Event

    response = requests.get(athlete_list_url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    cols = ['ID','Name','School_ID','School','Division']
    athlete_list = pd.DataFrame(columns=cols)

    tables=soup.find_all("table")
    
    title = soup.find("title")
    t = str(title).split()
    if "Men's" in t:
        end = t.index("Men's")
    else:    
        end = t.index("Women's")
        
    conf = ' '.join(t[1:end])
     
    for i in tables:
        for row in i:
            try:
                str_row = str(row)
                id_index = str_row.find(id_key_string)
                
                if id_index != -1:
                    
                    str_row = str_row[id_index+20:]            
                    id_str = str_row[0:8]
                    id_str = id_str.replace('\"',"")
                    id_str = id_str.replace('>','')
                    
                    name_index = str_row.find(">") + 1
                    str_row = str_row[name_index:]
                    name_index = str_row.find("<")
                    Name = str_row[0:name_index]
                    
                    school_index = str_row.find(school_key_string)
                    str_row = str_row[school_index+24:]
                    school_index = str_row.find('\">')
                    school_id = int(str_row[0:school_index]) 
                    
                    str_row = str_row[school_index+2:]
                    school_index = str_row.find("<")
                    school_name = str_row[0:school_index] 
                    
                    if id_str.isdigit():
                        ID = int(id_str)
                        athlete_list = athlete_list.append({'ID': ID, 'Name': Name, 'School_ID': school_id, 'School': school_name, 'Division': conf}, ignore_index=True)
            except ValueError as ve:
                print('Encountered error')
    athlete_list = athlete_list.set_index(['ID'])
    return athlete_list

In [79]:
#Test on one event
n = get_year(0, str(115902), Event)
n

                       Name School_ID                     School      Division
ID
10795088      Greg Matzelle     20661                 Binghamton  America East
8991846       Thomas Cooper     20661                 Binghamton  America East
17799642   Anthony Urbancik     21430                Stony Brook  America East
17848611      Taiki Hirooka     20661                 Binghamton  America East
16200457      Shamar Barnes     21079  Maryland-Baltimore County  America East
14309640         Ben Cotton     21062                      Maine  America East
17748468       Jaeden Burke     21079  Maryland-Baltimore County  America East
16218306   Michael Hermance     20591                     Albany  America East
14390854       Jowell Dixon     20591                     Albany  America East
14309670       Kyle Jacques     21062                      Maine  America East
14402528       Joshua Titus     21430                Stony Brook  America East
14390840     Blaise Umuhuza     20591                     Albany  America East
14393387    Sebastian Ramos     21430                Stony Brook  America East
17659321         Ralph Cruz     21062                      Maine  America East
14309661  Emmanuel Nkounkou     21176              New Hampshire  America East
16200400       Darius Adams     21079  Maryland-Baltimore County  America East
17659314      Adrian Sutton     21176              New Hampshire  America East
17848602        Evan Parise     20661                 Binghamton  America East
17848598       Kaleb Istvan     20661                 Binghamton  America East
16204864     Zachary Beaton     21062                      Maine  America East
18148323       William Love     21176              New Hampshire  America East
16270729        Alex Warner     21502                    Vermont  America East
16270732      Jackson Baker     21502                    Vermont  America East
14324941        Eli Ogilvie     21502                    Vermont  America East
14309651        Brian Genet     21176              New Hampshire  America East

In [84]:
all_athlete_list.tail(20)

                        Name School_ID            School          Division
ID
2448017       George Sanchez     21335       Santa Clara  West Coast (WCC)
1231850        Eric Chandler     21265          Portland  West Coast (WCC)
2459461         Jason Thomas     21488      UC San Diego  West Coast (WCC)
824749   Andrew Van Straaten     21488      UC San Diego  West Coast (WCC)
2749272          Greg Palmer     21335       Santa Clara  West Coast (WCC)
343686          Julius Jones     21053  Loyola Marymount  West Coast (WCC)
728818        Arturo Bimrose     21265          Portland  West Coast (WCC)
662682          Mike Coleman     21048    Louisiana Tech     Western (WAC)
3311164       Silas Pimentel     21496        Utah State     Western (WAC)
662677           Josh Harvey     21048    Louisiana Tech     Western (WAC)
676982          Terry Carter     21048    Louisiana Tech     Western (WAC)
2749135      Dondre McDonald     20887      Fresno State     Western (WAC)
2447820      Nick Cunningham     20666       Boise State     Western (WAC)
606095        Marlon Douglas     20666       Boise State     Western (WAC)
2749136             Gary Lee     20887      Fresno State     Western (WAC)
677520        Mike Carpenter     20964             Idaho     Western (WAC)
1405580       Quenton O'Neil     20887      Fresno State     Western (WAC)
662675         Jonathan Keys     21048    Louisiana Tech     Western (WAC)
820927      Charles Williams     20887      Fresno State     Western (WAC)
4967394          Rion Spears     20887      Fresno State     Western (WAC)

In [87]:
lst = [('&Event=19', 'women100'),('&Event=80', 'women5000'), 
       ('&Event=79', 'men5000'), ('&Event=18', 'menTJ'), ('&Event=36', 'womenTJ'),
      ('&Event=34', 'womenPV'), ('&Event=16', 'menPV')]

for l in lst:
    Event = l[0]
    Event_file = l[1]
    print(l)
    all_athlete_list = pd.DataFrame()
    
    for district_range in district_ranges:
        for d in range(district_range[0], district_range[1] + 1):
            new_list = get_year(0,str(d),Event)
            all_athlete_list = all_athlete_list.append(new_list)
            
    print(all_athlete_list.head())
    all_athlete_list.to_csv('../athlete_list_'+Event_file+'.csv')

('&Event=19', 'women100')
Encountered error invalid literal for int() with base 10: '/a></td><td class="text-nowrap hidden-print' for athlete
Brianna Rollins-McNeal
Encountered error invalid literal for int() with base 10: 'd><td class="text-nowrap hidden-print' for athlete
Gabrielle Thomas
Encountered error invalid literal for int() with base 10: 'td><td class="text-nowrap hidden-print' for athlete
Vanessa Spizewski
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Deajah Stevens
Encountered error invalid literal for int() with base 10: '></td><td class="text-nowrap hidden-print' for athlete
Theresa (Raub) Kroll
                       Name School_ID       School      Division
ID
14393372       Dana Cerbone     21430  Stony Brook  America East
14307346  Dominique Jackson     20661   Binghamton  America East
17799578       Jaelyn Davis     21430  Stony Brook  America East
14309653    Jessica Kroushl     21062        Maine  America East
14393386      Akajia Atkins     21430  Stony Brook  America East
('&Event=80', 'women5000')
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Taryn O'Neil
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Jessa Hanson
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Jesselyn Bries
Encountered error invalid literal for int() with base 10: 'class="text-nowrap hidden-print' for athlete
Pipi Eitel
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Hannah Behunin
Encountered error invalid literal for int() with base 10: 'td><td class="text-nowrap hidden-print' for athlete
Delaney Rasmussen
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Maggi Congdon
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Skyler Wallace
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Alexis Kebbe
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Emma Sjolund
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Elise Stearns
Encountered error invalid literal for int() with base 10: '><td class="text-nowrap hidden-print' for athlete
Jenna McCaffrey
Encountered error invalid literal for int() with base 10: ' class="text-nowrap hidden-print' for athlete
Tori Gaitan
Encountered error invalid literal for int() with base 10: '><td class="text-nowrap hidden-print' for athlete
Kirsten Vergara
Encountered error invalid literal for int() with base 10: '><td class="text-nowrap hidden-print' for athlete
Samantha Farmer
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Kaelyn Balch
Encountered error invalid literal for int() with base 10: 'td><td class="text-nowrap hidden-print' for athlete
Danielle Shanahan
Encountered error invalid literal for int() with base 10: '><td class="text-nowrap hidden-print' for athlete
Darby Gilfillan
                      Name School_ID                     School      Division
ID
14122806  Noreen Guilfoyle     20591                     Albany  America East
14157953        Emmy Beyer     21079  Maryland-Baltimore County  America East
16120133   Madison Armonda     21079  Maryland-Baltimore County  America East
17617261     Kaitlyn Iocca     20591                     Albany  America East
17617266   Sheridan Talada     20661                 Binghamton  America East
('&Event=79', 'men5000')
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Corey Gorgas
Encountered error invalid literal for int() with base 10: 'lass="text-nowrap hidden-print' for athlete
Ryan Raff
Encountered error invalid literal for int() with base 10: 'class="text-nowrap hidden-print' for athlete
Cade Burks
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Aldo Marquez
Encountered error invalid literal for int() with base 10: ' class="text-nowrap hidden-print' for athlete
Drew Bosley
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Caleb Easton
Encountered error invalid literal for int() with base 10: 'd><td class="text-nowrap hidden-print' for athlete
Santiago Prosser
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Jordan Black
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Dereck Elkins
Encountered error invalid literal for int() with base 10: ' class="text-nowrap hidden-print' for athlete
Olin Hacker
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Jacob Schweiss
Encountered error invalid literal for int() with base 10: 'td><td class="text-nowrap hidden-print' for athlete
Matthew McClellan
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Patrick Kearns
Encountered error invalid literal for int() with base 10: 'class="text-nowrap hidden-print' for athlete
Kevin Wyss
                     Name School_ID       School      Division
ID
10492207     Vann Moffett     21430  Stony Brook  America East
10492202     Chris Biondi     21430  Stony Brook  America East
16023045     Evan Brennan     21430  Stony Brook  America East
17702995       Colin Ross     21430  Stony Brook  America East
10492204  Greg Mangarelli     21430  Stony Brook  America East
('&Event=18', 'menTJ')
Encountered error invalid literal for int() with base 10: 'd><td class="text-nowrap hidden-print' for athlete
Adrienne Jackson
                      Name School_ID       School      Division
ID
10799565      Terrel Davis     20935     Hartford  America East
10795092     Matthew Baker     20661   Binghamton  America East
17848609  Marcrene Jeannot     20661   Binghamton  America East
14309670      Kyle Jacques     21062        Maine  America East
17799607     Gavin DaVanzo     21430  Stony Brook  America East
('&Event=36', 'womenTJ')
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Sarah Hopkins
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Kali Hatcher
Encountered error invalid literal for int() with base 10: 'd><td class="text-nowrap hidden-print' for athlete
Dejanae Thompson
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Kassie Gurnell
                             Name School_ID                     School  \
ID
16200500          Jasmine Holland     21079  Maryland-Baltimore County
12540879          Brittany Korsah     20661                 Binghamton
16200244              Grace Young     20661                 Binghamton
17799622  Rebeca Barrientos Alpha     20591                     Albany
12540845               Nia Joyner     20661                 Binghamton

              Division
ID
16200500  America East
12540879  America East
16200244  America East
17799622  America East
12540845  America East
('&Event=34', 'womenPV')
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Hanne Borstlap
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Celyn Stermer
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Lauren Jarossy

Encountered error invalid literal for int() with base 10: '/td><td class="text-nowrap hidden-print' for athlete
Gardenia Centanaro
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Sarah Hopkins
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
Bonnie Draxler
Encountered error invalid literal for int() with base 10: '></td><td class="text-nowrap hidden-print' for athlete
Theresa (Raub) Kroll
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Julia Newton
                       Name School_ID         School      Division
ID
12540940  Mallory Prelewicz     20661     Binghamton  America East
14308652  Samantha Martinez     20591         Albany  America East
12540793     Jordan Hoffman     21176  New Hampshire  America East
16204866       Taylor Nydam     21176  New Hampshire  America East
17659311        Sarah Morin     21176  New Hampshire  America East
('&Event=16', 'menPV')
Encountered error invalid literal for int() with base 10: 'class="text-nowrap hidden-print' for athlete
Kyle Brown
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Jacob Wooten
Encountered error invalid literal for int() with base 10: 'td class="text-nowrap hidden-print' for athlete
Lennard Biere
Encountered error invalid literal for int() with base 10: '><td class="text-nowrap hidden-print' for athlete
Solomon Simmons
Encountered error invalid literal for int() with base 10: '<td class="text-nowrap hidden-print' for athlete
George Patrick
Encountered error invalid literal for int() with base 10: '><td class="text-nowrap hidden-print' for athlete
Robert Robinson
Encountered error invalid literal for int() with base 10: 'd class="text-nowrap hidden-print' for athlete
Keegan Cooke
                         Name School_ID                     School  \
ID
17935451         Brandon Love     20661                 Binghamton
14307422        Casey Gribben     20661                 Binghamton
17861344          Ian Hoffman     21079  Maryland-Baltimore County
16200497  Alexander Ianniello     21079  Maryland-Baltimore County
16218312        Isaac Heatley     20591                     Albany

              Division
ID
17935451  America East
14307422  America East
17861344  America East
16200497  America East
16218312  America East